<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
<bean id="payBean" class="org.bhanu.PaymentType">
<property name="paymentType">
<value>Online Payment</value>
</property>
</bean>
<bean id="shopBean" class="org.bhanu.Shopping">
<property name="name">
<value>Laptop</value>
</property>
<property name="cost">
<value>85000</value>
</property>
<property name="payment" ref="payBean">
</property>
</bean>
</beans>
